<p class="subtitle"><%= 'Отчет использования времени по проекту ' + @project.name + ' за ' + format_date(@date_from) + '.' %></p>

<% if @events_by_day && @events_by_day.any? && @hours != 0 %>
<table width="100%" border="1" cellspacing="0" cellpadding="4">
  <thead>
    <tr>
      <th><%= l(:field_project) %></th>
      <th><%= l(:field_issue) %></th>
      <th><%= l(:field_user) %></th>
      <th><%= l(:field_comments) %></th>
      <th><%= l(:label_spent_time) %></th>
    </tr>
  </thead>
  <tbody>
    <% @events_by_day.keys.sort.reverse.each do |day| %>
      <% @events_by_day[day].each do |e| -%>
        <% if e.class.name == "TimeEntry" && (e.spent_on == Date.yesterday || e.spent_on == Date.yesterday - 2) %>
          <tr>
            <td><%= e.project.name %></td>
            <td><%= link_to(e.issue.id.to_s + ': ' + e.issue.subject, 'http://redmine.a2a.net.ua' + issue_path(e.issue)) if e.issue.present? %></td>
            <td><%= e.user.name %></td>
            <td><%= e.comments.present? ? e.comments : '-' %></td>
            <td><%= e.hours.floor == e.hours ? e.hours.to_i : e.hours %></td>
          </tr>
        <% end -%>
        <% if e.class.name == "Issue" %>
          <tr>
            <td><%= e.project.name %></td>
            <td><%= e.created_on %></td>
            <td><%= e.author.name %></td>
            <td><%= e.tracker.name %></td>
            <td><%= e.subject %></td>
            <td><%= e.description %></td>
            <td><%= '-' %></td>
          </tr>
        <% end -%>
      <% end -%>
    <% end -%>
    <tr>
      <td colspan="4"> Сумма часов за день: </td>
      <td><%= @hours.floor == @hours ? @hours.to_i : @hours %></td>
    </tr>
  </tbody>
</table>
<% else %>
  <%= 'За указанный период в Redmine не внесено затраченного на задачи времени.' %>
<% end -%>
<p><%= 'По любым вопросам можно обращаться к разработчикам проекта ' + @project.name + ' :' %>
  <ul>
    <li>Евгений Сылка - e.sylka@a2a.co</li>
    <li>Юрий Парамонов - yuri.paramonov@a2a.co</li>
  </ul>
</p>
